name: General Tests
on: [push, pull_request]
jobs:
  lint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1e204e9a9253d643386038d443f96446fa156a97 # renovate: tag=v2

      - name: Install Node v16
        uses: actions/setup-node@270253e841af726300e85d718a5f606959b2903c # renovate: tag=v2
        with:
          node-version: 16

      - name: Install dependencies
        run: npm install

      - name: Run ESLint
        run: npm run lint

  # typescript:
  #   name: TypeScript
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout repository
  #       uses: actions/checkout@v2

  #     - name: Install Node v16
  #       uses: actions/setup-node@v2
  #       with:
  #         node-version: 16

  #     - name: Install dependencies
  #       run: npm install

  #     - name: TypeScript Compiler
  #       run: npm run build
